.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.infoprincipal{

}

.infoprincipal img{

}
