/* Para que todo se adapte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* Contenedor general */
.contenedor,
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}





/*.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.infoprincipal{

}

.infoprincipal img{

}